@import "local.css";
.header,.banner,.card,button {padding: 10px;box-shadow: 0 4px 7px rgba(0, 0, 0, 0.6);border-radius: 20px;}
button:hover {opacity: 0.9;}
.header,.banner {border-radius: 0px;}
.header {margin-bottom: 5%;}
.card {width: fit-content;max-width: 60%; margin-bottom: 10%;}
.sidebar {height: 100%;position: absolute;bottom: -20%;width: fit-content;}
body{font-family: sytem-ui;margin: 0;font-weight: 900;font-size: 18;}
button {border: none;transition: box-shadow 500ms, background-color 500ms;margin-right: 15px;font-family: inherit;border-radius: 7px;}
input {border-radius: 8px;padding: 4px;font-family: inherit;border: 0;transition: border-bottom 200ms;outline: none;}
button:hover {box-shadow: 0 4px 10px rgb(0, 0, 0);}
.left {float: left;}
.right {float: right;}
a {text-decoration: none;}