@import "AquaMain.css";
.header,.banner,.card {background-color: rgba(166, 172, 219, 0.6); color: #fff}
.card {transition: background-color 700ms;}
.card:hover {background-color: rgb(166, 172, 219);}
body { color: #6881d3; background-color: #ffffff; }
a{color:#fff}
button {background-image: linear-gradient(to bottom, #6881d3, #294294); color:#fff; }