@import "AquaMain.css";
.header,.banner,.card {background-color: rgba(166, 172, 219, 0.6);}
.card {transition: background-color 700ms;}
.card:hover {background-color: rgba(68, 83, 194, 0.8);}
body,a { color: #6881d3; background-color: #ffffff; }
button {background-image: linear-gradient(to bottom, #6881d3, #294294); color:#fff; }