#header { 
    background-color: rgba(31, 155, 37, 0.6);
    transition: background-color 700ms;
}
#header:hover { background-color: rgba(31, 155, 37, 0.8);}
#banner {background-color: rgba(31, 155, 37, 0.6);}
#card {
    background-color: rgba(32, 167, 39, 0.6);
    transition: background-color 700ms;
}
#card:hover {background-color: rgba(31, 155, 37, 0.8);}
body { color: #3f82ac; }
button {
    background-image: linear-gradient(to bottom, #696969, #303030);
    color: #c9c9c9;
}