@import "AquaMain.css";
.header,.banner,.card {background-color: #ee6e73;} 
body,.hidebg {background: #fff;color:#212121 }
button {background-color: #26a69a; color:#fff!important}
.button-highlight {background-color: #ee6e73;}
a{color: #c9c9c9;}
input:focus {border-bottom: 3px solid #26a69a;}
select {background:#fff;color:#ee6e73}
button:hover {opacity: 0.9; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);}
textarea {width: 50%;height: 100%;resize: none;font-weight: 900; font-size:16;}