@import "AquaMain.css";
.header,.banner {background-color: rgba(247, 33, 25, 0.8);}
.card {background-color: rgba(153, 223, 255, 0.6);}
.card:hover {background-color: rgba(153, 223, 225, 0.8);}
body {color: #002c8b; }
button {background-image: linear-gradient(to bottom, #4278ee, #073394);}
a,button{color: #c9c9c9;}