@import "AquaMain.css";
.header,.banner,.card {background-color: #0b00a5;}
body,.hidebg,textarea {background-color: #001219;color: #db24c3;}
input {background-color: #001219; color:#db24c3}
input:focus {border-bottom: 3px solid #0b00a5;}
button {background-color: #444;}
button:hover {box-shadow: 0 4px 10px rgb(201, 201, 201);}
.button-highlight {background-color: #d23778;}
a,button,textarea{color:#fff;}
select {background:#2e3440;color:#db24c3}