#header {
    background-color: rgba(26, 94, 241, 0.2);
    transition: background-color 700ms;
}
#banner {background-color: rgba(26, 94, 241, 0.2);}
#header:hover { background-color: rgba(26, 94, 241, 0.4);}
#card {
    background-color: rgba(30, 135, 255, 0.2);
    transition: background-color 700ms;
}
#card:hover {background-color: rgba(30, 135, 255, 0.4);}
body {
    background-color: #001219;
    color: #db24c3; 
}
button {
    background-image: linear-gradient(to bottom, #db24c3, #520e49 );
    color: #ffffff;
}