@import "AquaMain.css";
.header,.banner,.card {background-color: rgba(143, 236, 148, 0.6);}
body,a,.hidebg { color: #e0e0e0; background-color: #001219; }
button {background-color: #303030; color:#c9c9c9; box-shadow: 0 4px 7px rgba(201, 201, 201, 0.3);}
button:hover {box-shadow: 0 4px 10px rgb(201, 201, 201)}
.button-highlight {background-color:rgb(17, 182, 25);color: #fff}
input {background-color: #001219;color: rgba(0, 255, 13, 0.9);}
input:focus {border-bottom: 3px solid #aaa;}