@import "AquaMain.css";
.header,.banner,.card {background-color: rgba(143, 236, 148, 0.6);}
.card {transition: background-color 700ms;}
.card:hover {background-color: rgba(31, 155, 37, 0.8);}
body,a { color: #c9c9c9; background-color: #001219; }
button {background-image: linear-gradient(to bottom, #696969, #303030); color:#c9c9c9; }