#header {background-color: rgba(255, 255, 255, 0.5);}
#card {background-color: rgba(255, 255, 255, 0.5);}
#card:hover { box-shadow: 2px 8px rgba(0, 0, 0, 0.7);}
body {
    background-image: linear-gradient(to bottom, rgb(255, 145, 0), rgb(248, 238, 148));
    color: #c9c9c9; 
}
button {
    background-image: linear-gradient(to bottom, rgb(134, 67, 196), rgb(55, 24, 139));
    color: #c9c9c9;
}
button:hover {box-shadow: 2px 6px rgba(0, 0, 0, 0.7);}